<template>
  <div class="container">
    <Header/>
<!--
    <Settings/>
-->
    <Movies/>
    <Footer/>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Movies from './components/Movies.vue'
import Footer from './components/Footer.vue'
import './assets/scss/main.scss'

export default {
  name: 'App',
  components: {
    Header,
    Movies,
    Footer
  }
}
</script>
