<template>
  <footer class="footer">
    <p>
      © Copyright MovieClub Pty. Ltd. 2021
    </p>
    <div class="footer__logo">
      <img class=""
           src="@/assets/img/logo-black.svg"
           alt="logo">
      <h1>
        Movieclub
      </h1>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>
