<template>
  <header class="header">
    <img class=""
         src="@/assets/img/logo.svg"
         alt="logo">
    <h1>
      Movieclub
    </h1>
  </header>
</template>

<script>
export default {
  name: 'Header'
}
</script>
