<template>
    <article class="movie" v-if="movie.title">
      <div v-if="movie.poster_small_path">
        <img @load="loadingImage"
             v-show="imageLoaded"
             :src="movie.poster_small_path" :alt="movie.title">
      </div>
      <div v-else>
        <img @load="loadingImage"
             v-show="imageLoaded"
             :src="movie.poster_path"
             :alt="movie.title"
             width="256"
             height="354"
        >
      </div>
      <div v-if="movie.vote_average" class="movie__rating">
        <img src="@/assets/img/star.svg" alt="star rating"
             height="15" width="17"
        >
        <p>
          {{ movie.vote_average }}
        </p>
      </div>
      <div class="movie__info">
        <h3>
          {{ movie.title }}
          <span v-if="movie.release_date">
            ({{ movie.release_date.slice(0, 4) }})
          </span>
        </h3>
<!--        Todo: fix styling of genres-->
<!--        Todo: fix for loop for genres-->
        <div v-if="movie.genre_ids" class="movie__genres">
          <div v-for="(genre, index) in movie.genre_ids" :key="index">
            <p v-if="genre === 28">
              Action
            </p>
            <p v-else-if="genre === 12">
              Adventure
            </p>
            <p v-else-if="genre === 12">
              Adventure
            </p>
            <p v-else-if="genre === 16">
              Animation
            </p>
            <p v-else-if="genre === 35">
              Comedy
            </p>
            <p v-else-if="genre === 80">
              Crime
            </p>
            <p v-else-if="genre === 99">
              Documentary
            </p>
            <p v-else-if="genre === 18">
              Drama
            </p>
            <p v-else-if="genre === 10751">
              Family
            </p>
            <p v-else-if="genre === 14">
              Fantasy
            </p>
            <p v-else-if="genre === 36">
              History
            </p>
            <p v-else-if="genre === 27">
              Horror
            </p>
            <p v-else-if="genre === 10402">
              Music
            </p>
            <p v-else-if="genre === 9648">
              Mystery
            </p>
            <p v-else-if="genre === 10749">
              Romance
            </p>
            <p v-else-if="genre === 878">
              Science Fiction
            </p>
            <p v-else-if="genre === 10770">
              TV Movie
            </p>
            <p v-else-if="genre === 53">
              Thriller
            </p>
            <p v-else-if="genre === 10752">
              War
            </p>
            <p v-else-if="genre === 37">
              Western
            </p>
            <span v-if="index != movie.genre_ids.length - 1">, </span>
          </div>
          <span>
            &#9679;
            {{ movie.runtime }}
          </span>
        </div>
      </div>
  </article>
</template>

<script>

export default {
  name: 'MovieCard',
  props: {
    movie: Object
  },
  data () {
    return {
      imageLoaded: false
    }
  },
  methods: {
    loadingImage () {
      this.imageLoaded = true
    }
  }
}
</script>
