<template>
  <section class="movies">
    <div class="settings">
      <div class="settings__setting">
        <label for="keywords">
          Keywords
        </label>
        <input id="keywords" type="text" placeholder="e.g. Star Wars"
               v-model.trim="search"
               @keyup="getAllMovies"
        >
      </div>
<!--      Todo: make genres filtering work-->
      <div class="settings__setting">
        <label for="genres">
          Genre
        </label>
        <select name="genres" id="genres" @change="showSelectedGenre">
          <option value="Any">Any</option>
          <option
            v-for="(genre, index) in genres" :key="index"
            :value="genre.name">
            {{ genre.name }}
          </option>
        </select>
      </div>
      <div class="settings__setting">
        <label for="minrating">
          Min rating
        </label>
        <select name="minrating" id="minrating" @change="showMinRating">
          <option value="Any">Any</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
        </select>
      </div>
      <div class="settings__setting">
        <label for="maxrating">
          Max rating
        </label>
        <select name="maxrating" id="maxrating" @change="showMaxRating">
          <option value="Any">Any</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      <button class="settings__setting c-button c-button--primary">
        Apply filters
      </button>
    </div>
    <div v-if="isError">
      There was an error
    </div>
    <div v-if="isLoading " class="movies__loading">
      Loading...
    </div>

    <div v-else>
      <div  v-if="movies.length > 1" class="movies__title">
        <h2>
          Showing {{ movies.length }} movies
        </h2>
      </div>
        <p v-if="movies.length < 1">
          No results. Try again
        </p>
      <div class="movies__info">
        <div v-for="(movie, index) in movies" :key="index">
          <transition name="fade">
            <MovieCard
              :movie=movie>
            </MovieCard>
          </transition>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import MovieCard from './MovieCard'

export default {
  name: 'Movies',
  components: {
    MovieCard
  },
  data () {
    return {
      movies: [],
      genres: [],
      search: '',
      isLoading: true,
      isError: false
    }
  },
  methods: {
    getAllMovies () {
      fetch('http://localhost:3000/movies')
        .then(response => response.json())
        .then(res => {
          this.isLoading = false
          if (this.search) {
            this.movies = res.filter(movies =>
              movies.title.toLowerCase().includes(this.search.toLowerCase())
            )
          } else {
            this.movies = res
          }
        })
        .catch((err) => {
          console.log(err)
          this.isError = true
        })
    },
    getAllGenres () {
      fetch('http://localhost:3000/genres')
        .then(response => response.json())
        .then(res => {
          console.log(res[0].name)
          if (this.search) {
            this.genres = res.filter(genre =>
              genre.title.toLowerCase().includes(this.search.toLowerCase())
            )
          } else {
            this.genres = res
          }
        })
        .catch((err) => {
          console.log(err)
          this.isError = true
        })
    },
    showSelectedGenre (e) {
      const genre = e.target.value
      if (genre === 'Any') {
        this.getAllMovies()
      } else {
        this.movies = this.movies.filter(movie =>
          movie.genre === genre)
      }
    },
    showMinRating (e) {
      const minValue = e.target.value
      if (minValue === 'Any') {
        this.getAllMovies()
      } else {
        this.movies = this.movies.filter(movie =>
          movie.vote_average > minValue)
      }
    },
    showMaxRating (e) {
      const maxValue = e.target.value
      if (maxValue === 'Any') {
        this.getAllMovies()
      } else {
        this.movies = this.movies.filter(movie =>
          movie.vote_average < maxValue)
      }
    }
  },

  created () {
    this.getAllMovies()
    this.getAllGenres()
  }
}
</script>
