.c-button {
  padding: 18px 32px;
  border-radius: $border-radius-small;
  text-transform: uppercase;
  border: 1px solid $color-black;
  cursor: pointer;
  width: fit-content;
  height: 56px;
}

.c-button--primary {
  background-color: $color-black;
  color: $color-white;
  transition: color .3s ease-in;
  @media only screen and (min-width: 1400px) {
    margin-top: auto;
  }

  &:hover {
    background-color: $color-white;
    color: $color-black;
  }
}
