.footer {
  color: $darkest-grey;
  margin: 56px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }

    &__logo {
    display: flex;
    align-items: center;
      @media only screen and (max-width: 768px) {
        margin: 12px;
      }
    h1 {
      margin-left: 12px;
      text-transform: uppercase;
    }
  }
}
