.movie {
  height: 480px;
  width: 256px;
  border-radius: $border-radius-small;
  background-color: $color-white;
  box-shadow: $box-shadow-small;
  position: relative;
  margin: 0 auto;
  transition: all .3s ease-in;

  &:hover {
    box-shadow: none;
    transform: scale(1.02);
  }

  img {
    height: 354px;
    width: 256px;
    object-fit: cover;
    border-radius: $border-radius-img;
  }

  &__rating {
    position: absolute;
    top: 305px;
    right: 12px;
    display: flex;

    img {
      width: 17px;
      height: 15px;
    }

    p {
      color: $color-white;
      font-size: 16px;
      margin-left: 4px;
    }
  }

  h3 {
    font-size: 24px;
  }

  &__genres {
    display: flex;
    margin: 24px 0 0 0;
    color: $border-grey;
    margin: auto 0 12px 0;

    p {
      display: inline;
    }
  }


  &__info {
    padding: 14px;
    height: 140px;
    display: flex;
    flex-direction: column;
  }
}
