.movies {

  h2 {
    margin: 0 auto 32px auto;
    font-size: 18px;
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 24px 16px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media only screen and (min-width: 900px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media only screen and (min-width: 1200px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    @media only screen and (min-width: 1400px) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  &__loading {
    text-align: center;
  }

  p {
    text-align: center;
  }
}
