.settings {

  grid-column-gap: 25px;
  padding: 22px 44px;
  grid-template-columns: auto;
  @media only screen and (min-width: 1400px) {
    display: grid;
    grid-template-columns: 300px 300px 190px 190px auto;
  }
  background-color: $dark-grey;
  border: 1px solid $dark-grey;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin: 0 0 56px 0;

  label {
    text-transform: uppercase;
    font-size: 14px;
  }
  input, select {
    background-color: $color-white;
    border-radius: $border-radius-small;
    border: 1px solid $border-grey;
    height: 56px;
    width: 100%;
    margin: 4px 0 0 0;
    padding: 0 14px;
  }

  select {
    cursor: pointer;
    -webkit-appearance:none;

  }

  &__setting {
    @media only screen and (max-width: 1400px) {
      margin-top: 14px;
    }
  }
}
