// Colours

$color-primary: white;
$color-white: #ffffff;
$color-black: #161615;
$dark-grey: #F5F5F5;
$darkest-grey: #808080;
$light-grey:  #E5E5E5;
$border-grey: #CCCCCC;

//box-shadows
$box-shadow: 20px 20px 60px rgba(208, 208, 208, 0.5), -20px -20px 60px rgba(255, 255, 255, 0.5);
$box-shadow-small: 4px 4px 8px rgba(208, 208, 208, 0.25);

$border-radius: 14px;
$border-radius-small: 10px;
$border-radius-img: 10px 10px 0 0;

